html
{
background-image: url('images/pixflowers.png');
background-attachment: fixed;

}

div {
    text-align: center;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    width:900px;
    height: auto;

  }

  a {
      text-decoration: none;
  }
  a:link, a:visited {
    color: black;
}

  /* Set additional styling options for the columns */
    .column {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 20%;
    }

    .middle {
    width: 20%;
    }

    .right {
    width: 20%;
    }

    .instaleft{
      width: 20%;
      float: left;
    }

    .linkeright{
      width: 20%;
      float: left
    }

    .row {
      margin-top: 20px;
      position: fixed;

    }

    .positioning {
      margin-top: -50px;


    }
    .coloronmixtapes {

    }

    .insides{
    font-size: 30px;

}



.fa-instagram {
  background: #ac2f3e;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.fa-linkedin {
  background: #ac2f3e;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#titulo {
  background-color: white;
  font-size: 60px;
  font-family: 'VT323', monospace;
}

#texto {
  font-family: 'VT323', monospace;
  background-color: white;
  font-size: 35px;

}

#menu {
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-family: 's', cursive !important;

}
